<mat-toolbar>
  Create Resource
</mat-toolbar>

<section class="content">

  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field>
      <mat-label>title</mat-label>
      <input matInput type="text" formControlName="title">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>category</mat-label>
      <mat-select formControlName="category">
        <mat-option [value]="null">None</mat-option>
        <mat-option *ngFor="let cate of categories" [value]="cate.id">
          {{cate.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>summary</mat-label>
      <textarea matInput rows="20" formControlName="summary"></textarea>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>files</mat-label>
      <mat-select multiple formControlName="files">
        <mat-option *ngFor="let f of files" [value]="f.id">
          {{f.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">save resource</button>
  </form>
  <br>
  <button mat-raised-button>upload files</button>

</section>
