<mat-toolbar>
  User Profile
</mat-toolbar>

<mat-tab-group #tabs [(selectedIndex)]="index">
  <mat-tab label="Profile">
  </mat-tab>

  <mat-tab label="Published">
  </mat-tab>

  <mat-tab label="Favorites">
  </mat-tab>

  <mat-tab label="Followed">
  </mat-tab>

  <mat-tab label="Fans">
  </mat-tab>
</mat-tab-group>

<ng-container *ngIf="index==0" #info_page>
  <mat-list>
    <mat-list-item>
      username: {{user.username}}
    </mat-list-item>
    <mat-list-item>
      email: {{user.email}}
    </mat-list-item>
    <mat-list-item>
      phone {{user.phone}}
    </mat-list-item>
  </mat-list>
</ng-container>

<ng-container *ngIf="index==1" #published_page>
  <mat-card mat-ripple *ngFor="let res of published" (click)="clickResource(res.id)">
    <mat-card-title>
      {{res.title}}
    </mat-card-title>
    <mat-card-subtitle>
      {{res.updated}}
    </mat-card-subtitle>

    <mat-card-content>
      {{res.summary}}
    </mat-card-content>
  </mat-card>
</ng-container>

<ng-container *ngIf="index==2" #favorites_page>
  <mat-card *ngFor="let res of favorites">
    <mat-card-title>
      {{res.title}}
    </mat-card-title>
    <mat-card-subtitle>
      {{res.updated}}
    </mat-card-subtitle>

    <mat-card-content>
      {{res.summary}}
    </mat-card-content>
  </mat-card>
</ng-container>

<ng-container *ngIf="index==3" #followed_page>
  Followed
</ng-container>

<ng-container *ngIf="index==4" #fans_page>
  Fans
</ng-container>
