<mat-toolbar>
  User Sign up
</mat-toolbar>

<section class="content">
  <mat-card>

    <mat-card-header>
      <mat-card-title>Sign Up</mat-card-title>
    </mat-card-header>

    <form [formGroup]="signUpInfo" (ngSubmit)="signUp()">

      <mat-error *ngIf="signUpInfo.errors?.failed">something wrong</mat-error>

      <mat-form-field>
        <mat-label>username</mat-label>
        <input matInput type="text" formControlName="username" required>
        <mat-error>username is required</mat-error>
      </mat-form-field>

      <br>

      <mat-form-field>
        <mat-label>password</mat-label>
        <input matInput type="password" formControlName="password" required>
        <mat-error>password is required</mat-error>
      </mat-form-field>

      <br>

      <mat-form-field>
        <mat-label>email</mat-label>
        <input matInput type="email" formControlName="email">
        <mat-error>wrong email format</mat-error>
      </mat-form-field>

      <br>

      <mat-form-field>
        <mat-label>phone</mat-label>
        <input matInput type="number" formControlName="phone">
        <mat-error>pone is required</mat-error>
      </mat-form-field>

      <br>

      <button mat-raised-button color="primary" type="submit">Sign up</button>

    </form>
  </mat-card>
</section>
